<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
  <!-- Styles personnalisés pour le tableau de bord admin -->
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <!-- Conteneur du Tableau de Bord Administrateur -->
  <div class="admin-dashboard">
    <h1>Tableau de Bord Administrateur</h1>

    <!-- Onglets de Navigation -->
    <div class="admin-tabs">
      <button class="tab-button active" onclick="openTab(event, 'pending')">Recettes en Attente</button>
      <button class="tab-button" onclick="openTab(event, 'manage')">Gérer les Recettes</button>
    </div>

    <!-- Onglet des Recettes en Attente -->
    <div id="pending" class="tab-content active">
      <h2>Recettes en Attente de Validation</h2>
      <div class="recipe-list">
        
        <% for (recipe of invalidRecipes){ %>

          <div class="recipe-card">
            <img src="img/recipes/<%=recipe.recipeId%>.png" alt="Salade de Quinoa">
            <h3><%= recipe.name %></h3>
            <p><%= recipe.instructions%></p>
            <div class="admin-actions">
              <button class="approve-button">Approuver</button>
              <button class="reject-button">Rejeter</button>
            </div>
          </div>

      <% } %>
        
        
      </div>
    </div>

    <!-- Onglet Gérer les Recettes -->
    <div id="manage" class="tab-content">
      <h2>Gérer les Recettes Existantes</h2>
      <div class="recipe-list">
        
        
        <% for (recipe of validRecipes){ %>

          <div class="recipe-card">
            <img src="img/recipes/<%=recipe.recipeId%>.png" alt="Salade de Quinoa">
            <h3><%= recipe.name %></h3>
            <p><%= recipe.instructions%></p>
            <div class="admin-actions">
              <button class="approve-button">Approuver</button>
              <button class="reject-button">Rejeter</button>
            </div>
          </div>

      <% } %>


      </div>
    </div>

    
  <!-- Pied de Page -->
  <%- include('partials/footer.ejs') %>

  <!-- JavaScript pour les Onglets -->
  <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tabbuttons;
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].classList.remove('active');
      }
      tabbuttons = document.getElementsByClassName("tab-button");
      for (i = 0; i < tabbuttons.length; i++) {
        tabbuttons[i].classList.remove('active');
      }
      document.getElementById(tabName).classList.add('active');
      evt.currentTarget.classList.add('active');
    }
  </script>
</body>
</html>
