<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <!-- Bannière -->
  <div class="banner">
    <h1>Bienvenue sur la Super Recipe Roulette</h1>
    <p>Découvrez des recettes aléatoires selon vos préférences !</p>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Filters on the left -->
    <div class="filter-dropdown">
      <button class="filter-button" onclick="toggleFilters()">Filtrer</button>

      <!-- Filters Section -->
      <div class="filter-section" id="filterSection">
        <h2>Ajouter un ingrédient</h2>
        <div class="filter-input-group">
          <input type="text" id="newIngredient" placeholder="Entrez un ingrédient" class="filter-input"/>
          <button onclick="addIngredient()" class="add-button"> + </button>
        </div>
        <div class="tags-container" id="tagsContainer">
          <!-- Tags will be dynamically added here -->
        </div>
      </div>
    </div>
    
    <div id="loadingOverlay">Loading...</div>
    <!-- Roulette -->
    <div class="roulette-container">
      <canvas id="rouletteCanvas" width="450" height="450"></canvas>
      <div class="arrow"></div>
    </div>

    <!-- Spin Button -->
    <div class="spin-button">
      <button onclick="spin()">Lancer la Roulette</button>
      <div id="selectedRecipeBox" class="selected-recipe-box" style="display: none;">
        Recette sélectionnée :
        <a href="#" id="selectedRecipeLink" class="recipe-link">
          <span id="selectedRecipeName"></span>
        </a>
      </div>
    </div>

    <!-- Recette du jour -->
    <div class="recipe-of-the-day">
      <div class="badge">
        <i class="fas fa-star"></i> Recette du Jour
      </div>
      <!-- Affichage de l'image de la recette -->
      <img src="img/recipes/<%= recipe.recipeId %>.png" alt="<%= recipe.name %>" />

      <div class="recipe-details">
        <h2><%= recipe.name %></h2>
        <div class="category">
          <strong>Catégorie:</strong> <%= recipe.category %>
        </div>
        <div class="ingredients">
          <h3>Ingrédients :</h3>
          <ul>
            <% recipe.ingredients.split(',').forEach(function(ingredient) { %>
              <li><%= ingredient %></li>
            <% }); %>
          </ul>
        </div>
        <div class="preparation">
          <h3>Préparation :</h3>
          <p><%= recipe.instructions %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Pied de Page -->
  <%- include('partials/footer.ejs') %>

  <!-- Main JavaScript -->
  <script src="js/main.js"></script>
</body>
</html>
