<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <!-- Bannière -->
  <div class="banner">
    <h1>Bienvenue sur la Super Recipe Roulette</h1>
    <p>Découvrez des recettes aléatoires selon vos préférences !</p>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Filters on the left -->
    <div class="filter-dropdown">
      <button class="filter-button" onclick="toggleFilters()">Filtrer</button>

      <!-- Filters Section -->
      <div class="filter-section" id="filterSection">
        <h2>Ajouter un ingrédient</h2>
        <div class="filter-input-group">
          <input type="text" id="newIngredient" placeholder="Entrez un ingrédient" class="filter-input"/>
					<div id="autocompletion-results"></div>
          <button onclick="addIngredient()" class="add-button"> + </button>
        </div>
        <div class="tags-container" id="tagsContainer">
          <!-- Tags will be dynamically added here -->
        </div>
      </div>
    </div>
    
    <div id="loadingOverlay">Loading...</div>
    <!-- Roulette -->
    <div class="roulette-container">
      <canvas id="rouletteCanvas" width="450" height="450"></canvas>
      <div class="arrow"></div>
    </div>

    <!-- Spin Button -->
    <div class="spin-button">
      <button onclick="spin()">Lancer la Roulette</button>
      <div id="selectedRecipeBox" class="selected-recipe-box" style="display: none;">
        Recette sélectionnée :
        <a href="#" id="selectedRecipeLink" class="recipe-link">
          <span id="selectedRecipeName"></span>
        </a>
      </div>
    </div>

    <!-- Recette du jour -->
    <div class="recipe-of-the-day">
      <div class="badge">
        <i class="fas fa-star"></i> Recette à tester
      </div>
      <!-- Affichage de l'image de la recette -->
      <img src="img/recipes/<%= recipe.recipeId %>.png" alt="<%= recipe.name %>" />

      <div class="recipe-details">
        <h2><%= recipe.name %></h2>
        <div class="category">
          <strong>Catégorie:</strong> <%= recipe.category %>
        </div>
        <div class="ingredients">
          <h3>Ingrédients :</h3>
          <ul>
            <% recipe.ingredients.split(',').forEach(function(ingredient) { %>
              <li><%= ingredient %></li>
            <% }); %>
          </ul>
        </div>
        <div class="preparation">
          <h3>Préparation :</h3>
          <p><%= recipe.instructions %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Pied de Page -->
  <%- include('partials/footer.ejs') %>

  <!-- Main JavaScript -->
  <script src="js/main.js"></script>
	<script src="js/jquery.min.js"></script>

	<script>
		var selectedResult = -1,
				previousRequest,
				previousValue = document.getElementById('newIngredient').value;
		
		function getIngredients() {
			displayResults($.get('recipes/search/ingredient', { ingredient: document.getElementById('newIngredient').value }));
		}
		
		function displayResults(response) {
			document.getElementById('autocompletion-results').style.display = response.length ? 'block' : 'none';
				if (response.length) {
						response = response.split('|');
						var responseLen = response.length;
						document.getElementById('autocompletion-results').innerHTML = '';
						for (var i = 0, div ; i < responseLen ; i++) {
								div = document.getElementById('autocompletion-results').appendChild(document.createElement('div'));
								div.innerHTML = response[i];
								div.addEventListener('click', function(e) {
										chooseResult(e.target);
								});
						}
				}
		}
		
		function chooseResult(result) {
				document.getElementById('newIngredient').value = previousValue = result.innerHTML;
				document.getElementById('autocompletion-results').style.display = 'none';
				result.className = '';
				selectedResult = -1;
				document.getElementById('newIngredient').focus();
		}

		$("#newIngredient").on('keydown', function(e) {
				var divs = document.getElementById('autocompletion-results').getElementsByTagName('div');
				if (e.keyCode == 38 && selectedResult > -1) {
						divs[selectedResult--].className = '';
						if (selectedResult > -1) {
								divs[selectedResult].className = 'result_focus';
						}
				}
				else if (e.keyCode == 40 && selectedResult < divs.length - 1) {
						document.getElementById('autocompletion-results').style.display = 'block';
						if (selectedResult > -1) {
								divs[selectedResult].className = '';
						}
						divs[++selectedResult].className = 'result_focus';
				}
				else if (e.keyCode == 13 && selectedResult > -1) {
						chooseResult(divs[selectedResult]);
				}
				else if (document.getElementById('newIngredient').value != previousValue) {
						console.log("IN");
						previousValue = document.getElementById('newIngredient').value;
						if (previousRequest && previousRequest.readyState < XMLHttpRequest.DONE) {
								previousRequest.abort();
						}
						previousRequest = getIngredients();
						selectedResult = -1;
				}
				}
		);
	</script>
</body>
</html>
