<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>

</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <!-- Banner -->
  <div class="banner">
    <h1>Recherchez Vos Recettes Préférées</h1>
    <p>Trouvez la recette parfaite en un clin d'œil!</p>
  </div>

  <% if(specificRecipe){ %>

    <div class="recipe-of-the-day">
  
      <img src="img/recipes/<%=recipe.recipeId%>.png" alt="Salade de Quinoa">
      <div class="recipe-details">
        <h2><%= recipe.name %></h2>
        <div class="ingredients">
          <h3>Ingrédients :</h3>

        
          <ul>

              <% for(ingredient of ingredients){ %>
                <li><%= ingredient.quantity %> <%=ingredient.unit%> de <%=ingredient.ingredient%></li>
              <% } %>
          </ul>
        </div>
        <div class="preparation">
          <h3>Préparation :</h3>
          <%= recipe.instructions %>
        </div>
      </div>
    </div>

  <% }else{ %>
  <!-- Page de Recherche -->
  <div class="search-page">
    <!-- Barre de Recherche -->
    <%- include('partials/search.ejs') %>

    <h2>Choissez votre recette</h2>
    <!-- Résultats de la Recherche -->
    <div class="results-container">

      <% for (const recipe of recipes) { %> 
      <div class="recipe-card">
        <img src="img/recipes/<%= recipe.recipeId %>.png" alt="Recipe Image">
        <h3><a href="/recipes?recipe=<%= recipe.recipeId %>" class="recipe-link"><%= recipe['name'] %></a></h3>
        <div class="recipe-rating">
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span class="review-count">300 avis</span>
        </div>
      </div>
    <% } %>
    </div>
  </div>

  <% } %>
<!-- Pied de Page -->
<%- include('partials/footer.ejs') %>


  
</body>
</html>