<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <!-- Banner -->
  <div class="banner">
    <h1>Recherchez Vos Recettes Préférées</h1>
    <p>Trouvez la recette parfaite en un clin d'œil!</p>
  </div>

  <!-- Page de Recherche -->
  <div class="search-page">
    <!-- Barre de Recherche -->
    <%- include('partials/search.ejs') %>

    <h2>Choissez votre recette</h2>
    <!-- Résultats de la Recherche -->
    <div class="results-container">

      <% for (const recipe of recipes) { %> 
      <div class="recipe-card">
        <img src="img/recipes/<%= recipe.recipeId %>.png" alt="Recipe Image">
        <h3><a href="#" class="recipe-link"><%= recipe['name'] %></a></h3>
        <div class="recipe-rating">
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star filled"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span class="review-count">300 avis</span>
        </div>
      </div>
    <% } %>
    </div>
  </div>
<!-- Pied de Page -->
<%- include('partials/footer.ejs') %>
  
</body>
</html>